.about-us-brief {
  .vertical-title {
    writing-mode: vertical-lr;
    color: $grey-bold-color;
    border-left: 2px solid $primary-color;
  }

  &-title {
    display: flex;
    align-items: center;
    gap: 10px;
    h2 {
      color: $primary-color;
    }
  }
  &-content {
    p {
      line-height: 2;
      font-weight: $normal;
    }
  }
  &-image {
    height: 435px;
    border-radius: 8px;
    overflow: hidden;
    @include md {
      height: 390px;
    }
    @include sm {
      height: 280px;
    }
  }
}

.vision-message {
  padding: 70px 0;
  background-color: $primary-light-color;
  position: relative;
  &-shape {
    width: 380px;
    height: 380px;
    overflow: hidden;
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    @include md {
      width: 300px;
      height: 300px;
    }
  }
}
.vision,
.message {
  background-color: $white-color;
  border-radius: 8px;
  overflow: hidden;
  &-image {
    overflow: hidden;
    height: 464px;
    border-radius: 8px;
    @include md {
      height: 390px;
    }
    @include sm {
      height: 280px;
    }
  }
  &-shape {
    overflow: hidden;
    width: 140px;
    height: 220px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    transform: translateY(-50%);
    z-index: 0;
  }
  &-content {
    height: 100%;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      color: #4c4c4c;
      font-weight: $light;
      @include noOfLines(5);
    }
    &-inner {
      position: relative;
      z-index: 2;
    }
  }
}

.message {
  margin-top: 50px;
  &-advantages {
    margin-top: 15px;
    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      margin-bottom: 5px;
    }
  }
}

.why-choose-us {
  &-top-section {
    margin-bottom: 50px;
  }
}
.choose-us-card {
  border: 0.75px solid #f3f3f3;
  box-shadow: 3px 3px 16.5px -0.75px rgba(122, 122, 122, 0.25);
  border-radius: 12px;
  padding: 30px 20px;
  height: 100%;
  &-icon {
    width: 45px;
    height: 45px;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: 10px;
  }
  p {
    font-weight: $light;
    @include noOfLines(4);
  }
}
