.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  inset-inline-start: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  background-color: $white-color;
  .container {
    display: block;
  }

  &.scrolled {
    box-shadow: 0px 4px 20px rgba($color: $black-color, $alpha: 0.2);
  }
  &-logo {
    width: 100px;
    height: 85px;
    display: block;
    overflow: hidden;
    @include md {
      width: 70px;
      height: 60px;
    }
    @include sm {
      width: 60px;
      height: 50px;
    }
  }
  &-inner-wrapper {
    flex: 1;
    padding: 8px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include md {
      padding: 8px 20px;
    }
  }
  &.main-navbar {
    background-color: transparent;
    top: 80px;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    .navbar-inner-wrapper {
      border-radius: 18px;
      background-color: $white-color;
    }
    &.scrolled {
      box-shadow: none;
      top: 20px;
      .navbar-inner-wrapper {
        box-shadow: 0px 4px 20px rgba($color: $black-color, $alpha: 0.2);
      }
    }
    @include md {
      top: 30px;
    }
  }
}

.navbar-language {
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
  .dropdown-toggle {
    position: relative;
    padding-inline-start: 20px;
    &::after {
      position: absolute;
      inset-inline-start: 0;
      top: 50%;
      color: $primary-color;
      font-size: 20px;
    }
  }
  .dropdown-menu {
    inset-inline-start: 50%;
    transform: translateX(50%);
  }
  .dropdown-item {
    text-align: center;
    &:hover {
      background-color: rgba($color: $primary-color, $alpha: 0.3);
    }
  }
  @include sm {
    display: none;
  }
}

.navbar-toggler {
  @include lg-mobile {
    display: none;
  }
  @include md {
    padding: 5px 0;
  }
  path {
    fill: $primary-color;
  }
  &:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
  }
}

.navbar-toggler-with-lang-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-links {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    @include lg {
      gap: 30px;
    }
    a {
      font-size: var(--nav-links-font-size);
      color: $nav-links-color;
      font-weight: $medium;

      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 4px;
        background-color: $primary-color;
        border-radius: 5px;
        bottom: -10px;
        inset-inline-start: 0;
        transition: width 0.3s ease-in-out;
      }
      &:hover,
      &.active {
        color: $primary-color;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
.navbar {
  .navbar-links {
    display: none;
    @include lg-mobile {
      display: block;
    }
  }
}
.sidebar {
  display: block;
  position: fixed;
  top: 0;
  inset-inline-start: -250px;
  height: 100%;
  width: 250px;
  background-color: $white-color;
  padding-top: 50px;
  transition: all 0.3s ease;
  z-index: 999999;
  .navbar-links {
    overflow: auto;
  }
  ul {
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
  }
  &.active {
    inset-inline-start: 0;
  }
  @include lg-mobile {
    display: none;
  }
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: $black-color, $alpha: 0.6);
  z-index: 9999;
  @include lg-mobile {
    display: none !important;
  }
}

html[lang='ar'] {
  .navbar {
    &.main-navbar {
      transform: translateX(50%);
    }
  }
}
html[lang='en'] {
  .navbar-language .dropdown-menu {
    transform: translateX(-50%);
  }
}
